<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

{{#each model.announcements as |announcement|}}
  {{announcement-tile announcement=announcement updateAnnouncement="updateAnnouncement" deleteAnnouncement="destroyAnnouncement"}}
{{/each}}

{{new-announcement save2="saveAnnouncement"}}

<ul>
  {{#each model.rentals as |rental|}}
     {{rental-tile rental=rental update="update" eatToast="destroyRental"}}
  {{/each}}
</ul>

{{new-rental save2="save3"}}

<br>
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
